
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
<div class="main-container">
    {% include 'nav.html' %}
    {% block content %}
    This will be replaced by other pages
    {% endblock %}
    <script src="{% static 'main.js' %}"></script>
</div>
</body>
</html>